{% extends 'base.html.twig' %}


{% block title %}
    {{ parent() }} | about_us
{% endblock %}

{% block body %}
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque cupiditate
        impedit, perspiciatis quaerat quo vitae? Accusamus doloribus
        eum inventore natus nihil odit sint? Aliquid eius eligendi nobis nulla sapiente.</h2>
{% endblock %}

